<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="./static/style.css" />
	<title>File Transfer</title>
	<link rel="manifest" href="./static/manifest.json" />
	<link rel="shortcut icon" href="./static/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="./static/css/bootstrap.min.css">
	<script src="./static/jquery-3.6.0.min.js"></script>
	<script src="./static/js/bootstrap.bundle.min.js"></script>

</head>

<body class="row-12 ">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand m-2" href="#">File Transfer</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">File Upload</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">History</a>
					</li>

				</ul>
			</div>
		</nav>
	</header>
	<div class="container mt-5">
		<h3 class="text-Dark">{{host}}</h3>
	</div>
	<div id="alerts" class="container mt-3">

	</div>
	<form class="container mt-3">
		<h1>Upload New Files</h1>
		<div class="row">
			<input class="form-control" type="FILE" name="files[]" multiple id="files" />
		</div>
		<div class="row mt-3">
			<select class="form-control" name="category" id="category">
				{% for i in dirlist %}
				<option value="{{i}}">
					{{i}}
				</option>
				{% endfor %}
			</select>
		</div>
		<div class="row mt-3">
			<input class="btn btn-success " id="submit" type="SUBMIT" value="Upload" />
		</div>
	</form>
	<ul class="container mt-5">


		<h1>History Files <form action="/create">
				<input class="form-control" type="text" name="name" />
				<input class="btn btn-primary " type="SUBMIT" value="Create New Category" />
			</form>
		</h1>
		<br />

		{% for i in filesData %}
		{% for names in i.items() %}
		<br />
		<br />
		<a target="_blank" href="./download/{{names[0]}}">
			<h2 class="btn btn-info">{{names[0]}} (Click To Download All)</h2>
			<a class="btn btn-danger btn-sm" href="./delete/{{names[0]}}">Delete Category</a>
		</a>
		{% for file in names[1] %}
		<li class="m-2 ">
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			<a class="btn btn-light" href="./download/{{names[0]}}/{{file}}" target="_blank">{{file}}</a>
			<a class="btn btn-danger btn-sm" href="./delete/{{names[0]}}/{{file}}">Delete File</a>
		</li>
		{% endfor %}
		{% endfor %}
		{% endfor %}
	</ul>

	<center><a target="_blank" class="text-secondary" href="https://mohsenpoureiny.info/">Mohsen Poureiny</a> v1.0.1
	</center>
	<script>
		if ("serviceWorker" in navigator) {
			navigator.serviceWorker
				.register("./static/serviceWorker.js")
				.then(reg => {
					console.log("Service worker registred successfully", reg);
				})
				.catch(err => {
					console.log("service worker not registred !!", err);
				});
		}
		$(document).ready(function () {

			$('#submit').click(function (e) {
				e.preventDefault();
				var form_data = new FormData();

				// Read selected files
				var totalfiles = document.getElementById('files').files.length;
				for (var index = 0; index < totalfiles; index++) {
					form_data.append("files[]", document.getElementById('files').files[index]);
				}
				form_data.append("category", $("#category").val())
				// AJAX request
				$.ajax({
					url: '/upload',
					type: 'post',
					data: form_data,
					dataType: 'json',
					contentType: false,
					processData: false,
					success: function (response) {
						if (response === 200) {
							window.location.href = "/";
						} else {
							$("#alerts").append(`<div class="alert alert-danger" role="alert">
								Error in Uploading File(s)						</div>`)
						}

					}
				});

			});

		});
	</script>
</body>

</html>